<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Bounded Context Canvas Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="/css/application.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div id="wrap">
    <nav class="navbar navbar-expand-lg bg-body-tertiary mb-4">
        <div class="container">
            <a class="navbar-brand" href="/">BCC Management</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="/add" class="nav-link">Add a new one</a>
                    </li>
                    <li class="nav-item">
                        <a href="/load" class="nav-link">Load</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Fitness functions
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/fitness-functions/circular-dependencies">Circular dependencies</a></li>
                            <li><a class="dropdown-item" href="/fitness-functions/communications">Communications</a></li>
                            <li><a class="dropdown-item" href="/fitness-functions/couplings">Couplings</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron d-flex min-vh-60">
        <div class="container mx-auto text-center border border-secondary m-4">
            <h1>History of measurements</h1>
            <p th:if="${page.getTotalElements() <= 0}">No measurements have been recorded so far.</p>
            <table class="table table-striped" th:if="${!page.isEmpty()}">
                <thead>
                <tr>
                    <th>Canvas name</th>
                    <th>Operation type</th>
                    <th>Queries (percentages)</th>
                    <th>Commands (percentages)</th>
                    <th>Events (percentages)</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="measurement, stat: ${page.content}">
                    <tr th:with="all=${measurement.getQueriesAmount()+measurement.getCommandsAmount()+measurement.getEventsAmount()}">
                        <td>[[${measurement.getCanvasName()}]]</td>
                        <td>[[${#strings.toLowerCase(measurement.getOperationType())}]]</td>
                        <td>[[${measurement.getQueriesAmount()}]]
                            <th:block th:if="${all != 0}">
                                ([[${#numbers.formatDecimal((100F*measurement.getQueriesAmount()/all), 2, 2)}]])
                            </th:block>
                        </td>
                        <td>[[${measurement.getCommandsAmount()}]]
                            <th:block th:if="${all != 0}">
                                ([[${#numbers.formatDecimal((100F*measurement.getCommandsAmount()/all), 2, 2)}]])
                            </th:block>
                        </td>
                        <td>[[${measurement.getEventsAmount()}]]
                            <th:block th:if="${all != 0}">
                                ([[${#numbers.formatDecimal((100F*measurement.getEventsAmount()/all), 2, 2)}]])
                            </th:block>
                        </td>
                        <td>[[${#temporals.format(measurement.getCreatedAt(), 'dd-MM-yyyy HH:mm')}]]</td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <th:block th:insert="fitness_functions/_pagination.html :: #pagination"></th:block>
        </div>
    </div>
    <div id="push"></div>
</div>
<div id="footer">
    <div class="container">
        <p>&copy; [[${#temporals.format(#temporals.createNow(), "yyyy")}]] <a href="https://github.com/adam85w/bounded-context-canvas-management">Bounded Context Canvas Management</a></p>
    </div>
</div>
</body>
</html>
