<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Bounded Context Canvas Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="/css/application.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div id="wrap">
    <nav class="navbar navbar-expand-lg bg-body-tertiary mb-4">
        <div class="container">
            <a class="navbar-brand" href="/">BCC Management</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="/add" class="nav-link">Add a new one</a>
                    </li>
                    <li class="nav-item">
                        <a href="/load" class="nav-link">Load</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Fitness functions
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/fitness-functions/circular-dependencies">Circular dependencies</a></li>
                            <li><a class="dropdown-item" href="/fitness-functions/communications">Communications</a></li>
                            <li><a class="dropdown-item" href="/fitness-functions/couplings">Couplings</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron d-flex min-vh-60">
        <div class="container mx-auto text-center border border-secondary m-4">
            <h1>Communication diagram</h1>
            <h2>Image</h2>
            <p class="text-start">
                <a th:href="${@environment.getProperty('application.diagram.url') + encoded}" target="_blank"><img th:src="${@environment.getProperty('application.diagram.url') + encoded}" alt="diagram" width="640" /></a>
            </p>
            <h2>Source</h2>
            <pre class="text-start p-3 mb-2 bg-dark text-white">[[${source}]]</pre>
        </div>
    </div>
    <div id="push"></div>
</div>
<div id="footer">
    <div class="container">
        <p>&copy; [[${#temporals.format(#temporals.createNow(), "yyyy")}]] <a href="https://github.com/adam85w/bounded-context-canvas-management">Bounded Context Canvas Management</a></p>
    </div>
</div>
</body>
</html>
