/* form */
i {
    font-size: 22px;
}
i.add {
    color: green;
}
span.remove, i.remove {
    color: red;
}
i.clickable, span.clickable {
    cursor: pointer;
}
ul.input {
    list-style-type: none;
    padding-left: 0;
}
.remove-communication {
    text-align: center;
}
input[name='name'] {
    width: 500px;
}
/* sticky footer */
html, body {
    height: 100%;
}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}
#push, #footer {
    height: 60px;
}
#footer {
    background-color: #f5f5f5;
}
#footer > div {
    height: 60px;
}
#footer > div > p {
    text-align: right;
    line-height: 60px;
}
/* canvas list */
#canvas-list th,
#canvas-list td {
    text-align: left;
}
#canvas-list .selector {
    width: 25px;
    max-width: 25px;
    text-align: center;
}
#canvas-list .name {
    width: auto;
}
#canvas-list .created-at,
#canvas-list .updated-at {
    width: 15%;
}
#canvas-list .options {
    width: 15%;
    text-align: center;
}

/* circular dependencies */
ul#circular-dependencies {
    text-align: left;
}
ul.ul-striped .li-strip {
    background-color: #e9ecef;
}